body{
    background-color: blueviolet;
    
}

.center{
   
}

.center h1{
    text-align: center;
    padding-top: 0 0 2px 0;
    border-bottom: 1px solid black;
    
}
.login
{
    text-decoration-color: red;
}
