<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{{user.profile.url}}" width="200px" alt="">
    
    
    {{user.user}}
    <!-- {{user.siteuser.user}} -->
    <br>
    
    <br><br><br>
    {% for i in post %} 
    <img src="{{i.photo.url}}" width="200px" alt="">
    {% endfor %}
</body>
</html>